<h1>Listings</h1>
<div class="table-responsive">
<table class="table table-hover">  <thead>
    <tr>
      <th>Listing Name</th>
     <th>Area Name</th>
     <th>Category Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.listingname %></td>
        <td><%= listing.area.areaname %></td>
        <td><%= listing.category.categoryname if listing.category.present? %></td>
        <td>
       <%= link_to 'Show', listing, {:class => "btn btn-primary icon-search"} %>
        <%= link_to 'Edit', edit_listing_path(listing), {:class => "btn btn-success icon-search"} %>
        <%= link_to 'Delete', listing, :class => 'btn btn-danger icon-search', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>

<br>

 <%= link_to(new_listing_path, :class => 'btn btn-primary') do %>
          New Listing <span class="icon-search"></span>
      <% end %>     
 