<div class="container-fluid">

<h2> <%= @category.categoryname %> Listings</h2>

<div class="table-responsive">
<table class="table table-hover">  <thead>
    <tr>
      <th>Listing Name</th>
     <th>Category Name</th>
     <th>Area Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.listings.each do |listing| %>
      <tr>
        <td><%= listing.listingname %></td> 
        <td><%= @category.categoryname %></td>      
        <td><%= listing.area.areaname if listing.area.present? %></td>
        <td>
      
        <%= link_to 'Edit', edit_listing_path(listing,:cid => @category.id), {:class => "btn btn-success icon-search"} %>
        <%= link_to 'Delete', listing_path(listing,:cid => @category.id), :class => 'btn btn-danger icon-search', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>

<%= link_to 'New Listing', new_listing_path({:cid => @category.id}),:class => "btn btn-primary" %>
<%= link_to 'Back', categories_path,:class => "btn btn-default" %>
</div>